<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GPS 테스트 로그인</title>
  <style>
    body { font-family: Arial, sans-serif; }
    form { max-width: 300px; margin: 0 auto; }
    input { width: 100%; padding: 10px; margin: 10px 0; }
    button { width: 108%; padding: 10px; margin: 10px 0; }
    h1 { text-align: center; }
    p { text-align: center; }
  </style>
</head>
<body>
<h1>로그인</h1>
<form id="loginForm" action="/api/login" method="post">
  <input type="text" name="mId" placeholder="아이디" required>
  <input type="password" name="mPassword" placeholder="비밀번호" required>
  <button type="button" class="btn btn-link" onclick="location.href='/oauth2/authorization/kakao'">카카오로 로그인하기</button>
  <button type="button" class="btn btn-link" onclick="location.href='/oauth2/authorization/google'">구글로 로그인하기</button>
  <button type="submit">로그인</button>
</form>
<p>계정이 없으신가요? <a href="/api/register">회원가입</a> </p>

<script>
  document.getElementById('loginForm').addEventListener('submit', function (e) {
    e.preventDefault();

    const formData = new FormData(this);
    const searchParams = new URLSearchParams();

    for (const pair of formData.entries()) {
      searchParams.append(pair[0], pair[1]);
    }

    fetch('/api/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: searchParams
    })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              if (data.status === 'success') {
                alert(data.message);
                window.location.href = data.redirect;
              } else {
                alert(data.message);
              }
            })
            .catch(error => {
              console.error('Error: ', error);
              alert('로그인 처리 중 오류가 발생했습니다.');
            });
  });
</script>
</body>
</html>